{% extends "users/template.html" %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
{% load static %}
<div class="login_container">
    <h1>Welcome to Employees list.</h1>

    <table>
        <thead>
            <tr>
                <th class="_center">Name</th>
                <th class="_center">Image</th>
                <th class="_center">Manager</th>
                <th class="_center">Knowledge rating</th>
                <th class="_center">Notes</th>
                <th class="_center">Update</th>
                <th class="_center">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% if employees %}
            {% for employee in employees %}
            <tr>
                <td class="_center">{{ employee.fname }} {{ employee.lname }}</td>
                <td class="_center"><img src="{{ employee.photo.image }}" title="{{ employee.photo.title}}" alt="{{ employee.photo.title}}"></td>
{#                <td class="_center"><img class="img-fluid" src="{{ employee.photo.cdn_url }}#}
{#                    -/crop/200x200/center/-/quality/lightest/" alt="{{ employee.photo.title}}"></td>#}

                <td class="_center">{{ employee.boss }}</td>

                <td class="_center">{{ employee.how_well_known.rating }}</td>

                <td class="_center">{{ employee.notes }}</td>

                <td class="_center"><a href="{% url 'employees:update' employee.id %}"
                    class="btn btn-warning">Update employee </a></td>

                <td class="_center"><a href="{% url 'employees:delete' employee.id %}"
                    class="btn btn-danger">Delete employee </a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>

</div>
{% endblock %}
