<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Gluhu {% block title %}{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="main.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
</head>

<p>{{ encurage }}</p>
<body>

<table>
    <thead>
        <tr>
            {% if messages %}
                {% for message in messages %}
                        <td>{{ message }}</td>
                {% endfor %}
            {% endif %}
        </tr>
    </thead>
</table>
<a href="{% url 'employees:quiz' %}" class="employee_quiz_button" id="next_employee_btn">Next employee </a>

</body>

<script>
    $('#next_employee').click(function() {
        $.ajax({
            url: '/employees/quiz_answer',
            success: function (serverResponse) {
                console.log('success, serverResponse: ', serverResponse)
                $('#placeholder1').html(serverResponse)
            }
        });
    })
</script>