{% extends "users/template.html" %}

<script>
  function myFunction(fname, lname) {
      print('In allert'*10);
    alert(fname, " ", lname);
  }
</script>
{% block title %}{{ title }}{% endblock %}


{% block content %}
{% load static %}

<div class="center_container">
<h1>Welcome to Employees quiz.</h1>

<img class="large_image" src="{{ employee.photo.image }}"   alt="{{ employee.photo.title}}">
{#<img class="img-fluid" src="{{ employee.photo.cdn_url }}-/crop/600x600/center/-/quality/lightest/" alt="{{ employee.photo.title}}"></div>#}




{#{% if messages %}#}
{#<script type="text/javascript">#}
{#    $(window).on('load',function(){#}
{#        $('#myModal').modal('show');#}
{#    });#}
{#</script>#}
{#{% endif %}#}
<div class="center_list">
{# Employee quiz #}
      <form class="form-horizontal ajax_form" id="user_quiz_form" action="/employees/verify_quiz_entry/" method="post" enctype="multipart/form-data" autocomplete="off" >
      {% csrf_token %}

        <div class="form-group" id="form-group">
            <label class="control-label col-sm-4" for="fname" >First Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="fname" placeholder="First name" name="fname" autofocus>
            </div>
        </div>
        <div class="form-group" id="form-group">
            <label class="control-label col-sm-4" for="pname">Preferred Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="pname" placeholder="Leave blank if none" name="pname">
            </div>
        </div>
        <div class="form-group" id="form-group">
            <label class="control-label col-sm-4" for="lname">Last Name:</label>
            <div class="col-sm-6">
                <input autocomplete="off" type="text" class="form-control" id="lname" placeholder="Last name" name="lname">
            </div>
        </div>
          <input type="hidden"  name="id" value="{{ employee.id }}">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit"  class="employee_quiz_button">
            </div>
        </div>
  </form>

  <div id="person_info">
  </div>

    <script>

        $('#user_quiz_form').submit(function(e) {
            console.log('button.html is clicked')
            e.preventDefault();
            $.ajax({
                url: $(this).attr('action') ,
                method:'post',
                data: $(this).serialize(),
                success: function (serverResponse) {
                    console.log("Success, Server Response: ", serverResponse);
                    $('#person_info').html(serverResponse)
                }
            });
        })
    </script>

</div>

    <br><br><br>

</div>

{% endblock %}

